.set {
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 1fr;

  &__first-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 1/-1;
  }

  &__list {
    margin: 1rem;

    &__item {
      background-color: blue;
      padding: 50px;
      margin: 20px;

      a {
        text-decoration: none;
      }
    }

    &__card {
      background-color: red;
    }
  }
}

.form-column {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.listItem {
  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}
