@keyframes flipCard {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1turn);
  }
}

.study {
  width: 100%;
  background: red;
  display: flex;
}

.study-header {
  display: flex;
  padding: 2rem;
  width: 100%;
  justify-content: flex-end;
}

.study-card {
  padding: 2rem;
  width: 200px;

  animation: flipCard 0.5s forwards infinite;
  animation-play-state: paused;
  transform: rotateX(0);
}

.animate {
  animation-play-state: running;
}
